
@{
    ViewData["Title"] = "Contact Me!";
}

@model ContactViewModel

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4 text-color-red">Contact Me!</h1>
        <p class="text-color-red">If you have any idea what should be added or changed, please contact me as soon as possible via the form below.</p>
        <form asp-action="Contact" method="post">
            <label class="text-color-red mt-2" asp-for="Name">Name</label>
            <div class="input">
                <input type="text" asp-for="Name" class="" placeholder="Your name">
            </div>
            <span class="text-danger d-block" asp-validation-for="Name"></span>
            <label class="text-color-red mt-2" asp-for="Email"></label>
            <div class="input">
                <input type="email" asp-for="Email" class="" placeholder="Your email"/>
            </div>
            <span class="text-danger d-block" asp-validation-for="Email"></span>
            <label class="text-color-red mt-2" asp-for="Message"></label>
            <div class="input">
                <textarea asp-for="Message" class="" placeholder="Write your idea here..."></textarea>
            </div>
            <span class="text-danger d-block" asp-validation-for="Message"></span>
            <button type="submit" class="btn btn-red mt-2">Send!</button>
        </form>
    </div>
</div>

