
@{
    ViewData["Title"] = "Gz, email sent correctly";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Email sent correctly!</h1>
        <p>Thank you for feedback!</p>
    </div>
</div>

