
@{
    ViewData["Title"] = "Gz, email sent correctly";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4 text-color-red">Email sent correctly!</h1>
        <p class="text-color-red">Thank you for feedback!</p>
        <a class="btn btn-red" asp-action="Index">Go back to homepage!</a>
    </div>
</div>

