@using Microsoft.AspNetCore.Mvc.ModelBinding
@model GenerateLinkViewModel
@{
    ViewData["Title"] = "Generate Link";
}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Generate Command Link</h1>
        <p>Make your link.</p>
        <form asp-action="GenerateLink" method="post">
            <div class="row">
                <div class="col-4">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div id="collapseMain" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-header">
                                    Generate your unique stats link.
                                </div>
                                <div class="card-body">
                                    Here you can generate 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="collapseApi" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Api.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="collapseServer" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Server.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="collapseRegion" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    Region.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="collapseNickname" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    Nickname.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group">
                                <label asp-for="Api">Info Type</label>
                                <select class="form-control" asp-for="Api">
                                    <option value="divisions">Divisions</option>
                                    <option value="mastery">Mastery</option>
                                    <option value="winRate">Win Ratio</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1 info-fix">
                            <a tabindex="0" class="btn btn-info" role="button" data-toggle="collapse" data-target="#collapseApi" aria-expanded="true" aria-controls="collapseApi">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="col-11">
                            <div class="form-group">
                                <label asp-for="Server">Server</label>
                                <select class="form-control" asp-for="Server">
                                    <option value="euw">Europe West</option>
                                    <option value="eune">Europe Nordic & East</option>
                                    <option value="na">North America</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1 info-fix">
                            <a tabindex="0" class="btn btn-info" role="button" data-toggle="collapse" data-target="#collapseServer" aria-expanded="true" aria-controls="collapseServer">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="col-11">
                            <div class="form-group">
                                <label asp-for="Region">Language</label>
                                <select class="form-control" asp-for="Region">
                                    <option value="en-US">English</option>
                                    <option value="pl-PL">Polish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-1 info-fix">
                            <a tabindex="0" class="btn btn-info" role="button" data-toggle="collapse" data-target="#collapseRegion" aria-expanded="true" aria-controls="collapseRegion">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </div>
                        <div class="col-11">
                            <div class="form-group">
                                <label asp-for="Nickname">League nickname</label>
                                <input asp-for="Nickname" type="text" class="form-control" aria-describedby="nickName" placeholder="Enter your League nickname" pattern="\X{1,}+">
                                @{
                                    if (!ViewData.ModelState.IsValid)
                                    {
                                        ViewData.ModelState.TryGetValue("PlayerNotFound", out var modelStateEntry);
                                        <div class="alert alert-danger" role="alert">@modelStateEntry.Errors[0].ErrorMessage</div>
                                        ;
                                        ViewData.ModelState.Clear();
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-1 info-fix">
                            <a tabindex="0" class="btn btn-info" role="button" data-toggle="collapse" data-target="#collapseNickname" aria-expanded="true" aria-controls="collapseNickname">
                                <i class="far fa-question-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Generate!</button>
        </form>
    </div>
</div>