@{
    ViewData["Title"] = "How to setup";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr/>
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-lg collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            StreamLabs Chatbot
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p class="p-bigger-font">
                            All you have to do is add a new command as shown below.
                        </p>
                        <h4 class="h4">
                            Division & Win Ratio
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !divisions or !winratio (it's just example, feel free to use your own name :)"</p>
                            <p>Response: $readapi(YOUR_LINK_HERE)</p>
                            <p class="text-info">Example: $readapi(http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/divisions/Larenen?server=eune&cultureName=en-US)</p>
                            <p>Usage: !division or !winratio</p>
                        </div>
                        <h4 class="h4">
                            Champion mastery
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !mastery (it's just example, feel free to use your own name :)"</p>
                            <p>
                                Response: $readapi(YOUR_LINK_HERE)
                                <br/>
                                However in this case u need to replace text &lt;replace with bot argument&gt; with $arg1, as seen in example.
                            </p>
                            <p class="text-info">Example: $readapi(http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/Mastery/Larenen/$arg1?server=eune&cultureName=en-US)</p>
                            <p>Usage: !mastery Champion_Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-lg collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Nightbot
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p class="p-bigger-font">
                            All you have to do is add a new command as shown below.
                        </p>
                        <h4 class="h4">
                            Division & Win Ratio
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !divisions or !winratio (it's just example, feel free to use your own name :)"</p>
                            <p>Message: $(urlfetch YOUR_LINK_HERE)</p>
                            <p class="text-info">Example: $(urlfetch http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/divisions/Larenen?server=eune&cultureName=en-US)</p>
                            <p>Usage: !division or !winratio</p>
                        </div>
                        <h4 class="h4">
                            Champion mastery
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !mastery (it's just example, feel free to use your own name :)"</p>
                            <p>
                                Message: $(urlfetch YOUR_LINK_HERE)
                                <br />
                                However in this case u need to replace text &lt;replace with bot argument&gt; with $(1), as seen in example.
                            </p>
                            <p class="text-info">Example: $(urlfetch http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/Mastery/Larenen/$(1)?server=eune&cultureName=en-US)</p>
                            <p>Usage: !mastery Champion_Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-lg collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            StreamElements
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p class="p-bigger-font">
                            All you have to do is add a new command as shown below.
                        </p>
                        <h4 class="h4">
                            Division & Win Ratio
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !divisions or !winratio (it's just example, feel free to use your own name :)"</p>
                            <p>Response: ${YOUR_LINK_HERE}</p>
                            <p class="text-info">Example: ${customapi.http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/divisions/Larenen?server=eune&cultureName=en-US}</p>
                            <p>Usage: !division or !winratio</p>
                        </div>
                        <h4 class="h4">
                            Champion mastery
                        </h4>
                        <div class="jumbotron text-left">
                            <p>Command: !mastery (it's just example, feel free to use your own name :)"</p>
                            <p>
                                Response: ${YOUR_LINK_HERE}
                                <br />
                                However in this case u need to replace text &lt;replace with bot argument&gt; with ${1}, as seen in example.
                            </p>
                            <p class="text-info">Example: ${customapi.http://leaguetwitchapi.azurewebsites.net/api/PlayerStats/Mastery/Larenen/${1}?server=eune&cultureName=en-US}</p>
                            <p>Usage: !mastery Champion_Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
