@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to LeagueAPI!</h1>
    <h2 class="display-3">
        Site that provides a commands to Twitch bots, allowing your viewers to see updated data about your account in real time!
    </h2>
    <a asp-action="GenerateLink" class="display-4"><b>Let's get started!</b></a>
</div>
