@media (max-width: 768px) {
    .font-big {
        font-size: 23px;
    }

    .font-normal {
        font-size: 20px;
    }
  }

.color-bg {
    background-color: #ED6062;
}

.color-dark-bg {
    background: #252525;
}

.text-color-dark {
    color: #252525;
}

.text-color-red {
    color: #ED6062;
}

.font-big {
    font-weight: 400;
    font-size: 36px;
}

.font-normal {
    font-weight: 300;
    font-size: 24px;
}

.logo{
    height: 5vh;
}

.logo-main {
    width: 50%;
}

.icon {
    width: 64px;
    height: 64px;
}

.info-fix {
    align-items: flex-end;
    display: flex;
    margin-bottom: 0.1rem;
}

.info-fix a{
    height: 60%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* white-space: nowrap; */
    /* Set the fixed height of the footer here */
    min-height: 60px;
  }



body {
    background-color: #252525;
    font-family: 'Quicksand', sans-serif;
}

footer a {
    color: #616161;
}

footer {
    padding: 1%;
}

a:hover {
    text-decoration: none;
    color: black;
}

a {
    color: #ED6062;
}

a:hover {
    color: #ff5252;
}

/* Navbar Animation */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/************************************************/


/** Custom Select **/

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #ED6062;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 59%;
    line-height: 3;
    background: #ED6062;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #252525;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #D03B3E;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
/*************************************/

/**Custom Text Input */

input , textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #ED6062;
    background-image: none;
  }

.input {
    position: relative;
    display: flex;
    width: 100%;
    height: 59%;
    line-height: 3;
    background-color: #ED6062;
    overflow: hidden;
    border-radius: .25em;
  }
  input , textarea {
    flex: 1;
    padding: 0 .5em;
    background-color: #ED6062;
    color: #252525;
    cursor: pointer;
  }
  /*************************/

.navbar-dark .navbar-nav .nav-link {
    color: #252525;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #252525;
}

/** Custom buttons */
.btn-red {
    background-color: #ED6062;
    border-color: #ED6062;
  }
  
  .btn-red:hover {
    background-color: #E64345;
    border-color: #E64345;
  }
  
  .btn-red:focus, .btn-red.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }
  
  .btn-red.disabled, .btn-red:disabled {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
  .show > .btn-red.dropdown-toggle {
    background-color: #bd2130;
    border-color: #b21f2d;
  }
  
  .btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
  .show > .btn-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }


  .btn-red-info {
    background-color: #FD8B8E;
    border-color: #FD8B8E;
  }
  
  .btn-red-info:hover {
    background-color: #ED6064;
    border-color: #ED6064;
  }
  
  .btn-red-info:focus, .btn-red-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }
  
  .btn-red-info.disabled, .btn-red-info:disabled {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-red-info:not(:disabled):not(.disabled):active, .btn-red-info:not(:disabled):not(.disabled).active,
  .show > .btn-red-info.dropdown-toggle {
    background-color: #bd2130;
    border-color: #b21f2d;
  }
  
  .btn-red-info:not(:disabled):not(.disabled):active:focus, .btn-red-info:not(:disabled):not(.disabled).active:focus,
  .show > .btn-red-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }

  /*****************************/

  .alert-info-red {
      background-color: #FFD9DA;
      border: 0;
  }

 .link-dark {
     color: #252525;
 }

 .link-dark:hover{
     color: #000000;
 }